{% extends 'base.html' %}
{% load mathfilters %}
    
{% block body %}    

<!----------------------------------- MAIN PAGE ---------------------------------------->
    <div class="main_section" v-if="showMode === 'main'">
        <section class="box_office">
            <h3 class="section_header">일일 박스오피스 {{ date }} 기준</h3>
            <div class="movie_strip swiper-container">
                <div class="swiper-wrapper">
                    <div v-for="movie in allMovies.slice(0, 10)" class="movie_preview swiper-slide" data-toggle="modal" data-target="#exampleModalCenter" @click="setCurrentMovie(movie)">
                        <img :src="movie.posterUrl">
                        <div class="movie_poster_bg"></div>
                        <span class="movie_preview_text movie_title">[[ movie.movieNm ]]</span>
                        <span class="movie_preview_text movie_year">[[ movie.openDt | getYear ]]년</span>
                        <div class="movie_preview_text movie_score">
                            <div class="star-ratings-css">
                                <div class="star-ratings-css-top" :style="{'width': `${movie.score*10}%`}">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="recommendation">
            <h3 class="section_header">영화 추천<button class="btn btn-prussian advanced_rec" @click="showMode = 'sugg'">추천 더보기</button></h3>
            <div class="movie_strip swiper-container2">
                <div class="swiper-wrapper">
                    <div v-for="movie in allMovies.slice(10, )" class="movie_preview swiper-slide" data-toggle="modal" data-target="#exampleModalCenter" @click="setCurrentMovie(movie)">
                        <img :src="movie.posterUrl">
                        <div class="movie_poster_bg"></div>
                        <span class="movie_preview_text movie_title">[[ movie.movieNm ]]</span>
                        <span class="movie_preview_text movie_year">[[ movie.openDt | getYear ]]년</span>
                        <div class="movie_preview_text movie_score">
                            <div class="star-ratings-css">
                                <div class="star-ratings-css-top" :style="{'width': `${movie.score*10}%`}">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="recent_scores">
            <h3 class="section_header">최신 평점</h3>
            <!-- Bootstrap Grid System-->
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12" v-for="review in allScores.reverse().slice(0, 5)">
                        <div class="reviewCard">
                            <div class="reviewMovieTitle">『[[ review.movie.movieNm ]]』</div>
                            <div class="reviewStars">
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" :style="{'width': `${review.score*10}%`}">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                                [[ review.score ]]
                            </div>
                            <div class="reviewContent">
                                “ [[ review.comment ]] ”
                            </div>
                            <div class="reviewUser">
                                - [[ review.user.username | truncUsername ]]
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>


<!------------------------------ SUGGESTIONS/WATCHLIST PAGE ----------------------------------->
    <div id="suggMainContainer" v-else>
        <h3 class="section_header" v-if="showMode === 'sugg'">영화 상세 추천</h3>
        <h3 class="section_header" v-if="showMode === 'watch'">찜한 영화 목록</h3>
        <div class="optionSelectBox">
            <div class="genreSelectMenu">
                <input type="checkbox" name="cb" id="genreCB" v-model="genreBtnVisible">
                <label for="genreCB" class="genreCheckbox">장르 선택</label>
                <span v-show="genreBtnVisible" style="margin-left: 20px;">
                    <input type="checkbox" name="cbg" id="genreSelect" v-model="allGenresSelected">
                    <label for="genreSelect" class="">
                        <span v-if="allGenresSelected">전체 해제</span>
                        <span v-else>전체 선택</span>
                    </label>
                </span>
                <div class="genreOptions">
                    <span v-for="genre in allGenres" class="genreOption" @click="genreSelectToggle(genre)"
                    :class="{selectedGenre: genre.selected}">[[genre.genreNm]]</span>
                </div>
            </div>
            <div class="nationSelectMenu">
                <input type="checkbox" name="cb2" id="nationCB">
                <label for="nationCB" class="nationCheckbox">국가 선택</label>
                <div class="nationOptions">
                    <input type="radio" name="rd" id="rdAll" v-model="suggNationOpt" value="all">
                    <label for="rdAll" class="nationRadio">전체</label><br>
                    <input type="radio" name="rd" id="rdKor" v-model="suggNationOpt" value="kor">
                    <label for="rdKor" class="nationRadio">국내</label><br>
                    <input type="radio" name="rd" id="rdInt" v-model="suggNationOpt" value="int">
                    <label for="rdInt" class="nationRadio">해외</label>
                </div>
            </div>
        </div>
        <div class="suggResults">
            <!-- Bootstrap Grid System: Movie Suggestions -->
            <div class="container" v-if="showMode === 'sugg'">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12" v-for="movie in suggestedMovies">
                        <div class="movieCardCont">
                            <div class="movieCard" data-toggle="modal" data-target="#exampleModalCenter" @click="setCurrentMovie(movie)">
                                <img :src="movie.posterUrl" class="movieCardPoster">
                                <div class="movie_poster_bg"></div>
                                <span class="movie_preview_text movie_title">[[ movie.movieNm ]]</span>
                                <span class="movie_preview_text movie_year">[[ movie.openDt | getYear ]]년</span>
                                <div class="movie_preview_text movie_score">
                                    <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" :style="{'width': `${movie.score*10}%`}">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Bootstrap Grid System: Movie Watchlist-->
            <div class="container" v-if="showMode === 'watch'">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12" v-for="movie in watchlistMovies">
                        <div class="movieCardCont">
                            <div class="movieCard" data-toggle="modal" data-target="#exampleModalCenter" @click="setCurrentMovie(movie)">
                                <img :src="movie.posterUrl" class="movieCardPoster">
                                <div class="movie_poster_bg"></div>
                                <span class="movie_preview_text movie_title">[[ movie.movieNm ]]</span>
                                <span class="movie_preview_text movie_year">[[ movie.openDt | getYear ]]년</span>
                                <div class="movie_preview_text movie_score">
                                    <div class="star-ratings-css">
                                        <div class="star-ratings-css-top" :style="{'width': `${movie.score*10}%`}">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                        <div class="star-ratings-css-bottom">
                                            <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}