{% extends 'base.html' %}
    
{% block body %}    
    <div class="main_section">
        <section class="box_office">
            <h3 class="section_header">일일 박스오피스 {{ date }} 기준</h3>
            <div class="movie_strip swiper-container">
                <div class="swiper-wrapper">
                    {% for list in daily_lists %}
                        <div class="movie_preview swiper-slide" data-toggle="modal" data-target="#exampleModalCenter">
                            <img src="{{ list.poster_url }}">
                            <div class="movie_poster_bg"></div>
                            <span class="movie_preview_text movie_title">{{ list.movieNm }}</span>
                            <span class="movie_preview_text movie_year">{{ list.openDt | slice:"0:4" }}년</span>
                            <div class="movie_preview_text movie_score">
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: calc({{ list.score }} * 10)%">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            </div>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="recommendation">
            <h3 class="section_header">영화 추천<button class="btn btn-crimson advanced_rec">추천 더보기</button></h3>
            
            <div class="movie_strip swiper-container2">
                <div class="swiper-wrapper">
                    {% for list in daily_lists %}
                        <div class="movie_preview swiper-slide" data-toggle="modal" data-target="#exampleModalCenter">
                            <img src="{{ list.poster_url }}">
                            <div class="movie_poster_bg"></div>
                            <span class="movie_preview_text movie_title">{{ list.movieNm }}</span>
                            <span class="movie_preview_text movie_year">{{ list.openDt | slice:"0:4" }}년</span>
                            <div class="movie_preview_text movie_score">
                                <div class="star-ratings-css">
                                    <div class="star-ratings-css-top" style="width: calc({{ list.score }} * 10)%">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                    <div class="star-ratings-css-bottom">
                                        <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            
        </section>
        <section class="recent_scores">
            <h3 class="section_header">최신 평점</h3>
        </section>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body modal_head">
                    <h3 class="movie_modal_title">{{ daily_lists.0.movieNm }} [{{daily_lists.0.openDt | slice:"0:4"}}]</h3>
                    <div class="movie_modal_left">
                        <div class="movie_modal_score">
                            <div class="star-ratings-css">
                                <div class="star-ratings-css-top" style="width: 90%">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                                <div class="star-ratings-css-bottom">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                            </div>
                            <button class="btn btn-sm btn-crimson">Add to watchlist</button>
                        </div>
                    </div>
                </div>
                
                <div class="modal-body modal_content">
                    <div class="movie_modal_left">
                        <div class="movie_modal_stills">
                            
                            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="{{daily_lists.0.subPhoto1}}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="{{daily_lists.0.subPhoto2}}" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="{{daily_lists.0.subPhoto3}}" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                              </a>
                              <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                              </a>
                            </div>
                        
                        </div>
                        <div class="movie_modal_trailer">
                            <iframe src="https://www.youtube.com/embed/{{daily_lists.0.trailer}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="movie_modal_text">
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                            modal text <br>
                        </div>
                    </div>
                    <div class="movie_modal_right">

                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}